<a href="https://colab.research.google.com/github/ishancoderr/Data_preparetion_for_research/blob/master/Data_preparation_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("https://raw.githubusercontent.com/ishancoderr/Data_preparetion_for_research/master/Landslide_occuring_data_Extracted_data.csv")
print(len(dataset))

73

In [4]:
# filter the DataFrame to get only the rows where Status is "Generated_Yes"
generated_yes_df = dataset[dataset['Status'] == 'Generated_Yes']

# find the minimum value for cum_rainfall in the filtered DataFrame
min_cum_rainfall = generated_yes_df['cum_rainfa'].min()
# find the minimum value for hours in the filtered DataFrame
min_hours= generated_yes_df['hours'].min()
print("Minimum value for cum_rainfall with Status Generated_Yes:", min_cum_rainfall)
print("Minimum value for hours with Status Generated_Yes:", min_hours)

Minimum value for cum_rainfall with Status Generated_Yes: 177.25
Minimum value for hours with Status Generated_Yes: 4.293129298

In [5]:
dataset_rd_s_2=dataset[['cum_rainfa','intensity','hours','Extracted_Values','Status']]
df=dataset_rd_s_2.reset_index()
print(df)

    index  cum_rainfa  intensity     hours  Extracted_Values         Status
0       0     223.153  50.453000  6.123000                 3            yes
1       1     227.152  43.512000  6.000000                 4            yes
2       2     321.524  40.256300  5.128000                 4            yes
3       3     218.583  42.442700  5.150073                 1  Generated_Yes
4       4     214.083  42.808700  5.000923                 2  Generated_Yes
..    ...         ...        ...       ...               ...            ...
68     68     179.000  44.750000  4.000000                 4            yes
69     69     198.000  24.750000  8.000000                 4            yes
70     70     212.000  53.000000  4.000000                 4            yes
71     71     228.000  45.600000  5.000000                 4            yes
72     72     289.000  48.166667  6.000000                 4            yes

[73 rows x 6 columns]

In [7]:
import random
dataset_rd_s_2["Status"]
new_cum_rainfall_=[]
new_hours_=[]	
new_intensity_=[]
status=[]
new_extracted_Values=[]

for i in range(len(df)):
  
  if df["Status"][i]=="Generated_Yes":
    new_cum_rainfall=df["cum_rainfa"][i]-random.randint(40,140)
    new_hours=df["hours"][i]-random.uniform(0.5, 2.5)
    new_intensity	=new_cum_rainfall/new_hours
    new_geo_risk=df['Extracted_Values'][i]
    new_status="Generated_No"

    new_cum_rainfall_.append(new_cum_rainfall)
    new_hours_.append(new_hours)
    new_intensity_.append(new_intensity)
    new_extracted_Values.append(new_geo_risk)
    status.append(new_status)
    
  elif df["Status"][i]=="yes":
    new_cum_rainfall=df["cum_rainfa"][i]
    new_hours=df["hours"][i]
    new_intensity	=new_cum_rainfall/new_hours
    new_geo_risk=df['Extracted_Values'][i]
    new_status="yes"

    new_cum_rainfall_.append(new_cum_rainfall)
    new_hours_.append(new_hours)
    new_intensity_.append(new_intensity)
    new_extracted_Values.append(new_geo_risk)
    status.append(new_status)

In [9]:

rainfall_data= {
    'new_cum_rainfall':new_cum_rainfall_,
    'new_hours' :new_hours_,
    'new_intensity':new_intensity_,
    'new_extracted_Values':new_extracted_Values,
    'status':status
          }
df1 = pd.DataFrame(rainfall_data)
print(df1)
df1.to_csv(r'/content/rainfall_with_geo_risk.csv')

    new_cum_rainfall  new_hours  new_intensity  new_extracted_Values  \
0            223.153   6.123000      36.445043                     3
1            227.152   6.000000      37.858667                     4
2            321.524   5.128000      62.699688                     4
3            130.583   3.400422      38.401998                     1
4             94.083   2.824952      33.304285                     2
..               ...        ...            ...                   ...
68           179.000   4.000000      44.750000                     4
69           198.000   8.000000      24.750000                     4
70           212.000   4.000000      53.000000                     4
71           228.000   5.000000      45.600000                     4
72           289.000   6.000000      48.166667                     4

          status
0            yes
1            yes
2            yes
3   Generated_No
4   Generated_No
..           ...
68           yes
69           yes
70           yes
71           yes
72           yes

[73 rows x 5 columns]